In [1]:
from util import *

In [2]:
otc_list_path = r".\db\otc.csv"
twse_list_path = r".\db\twse.csv"
db_path = r"D:\Stock\db"
target_path = r"D:\Stock\target\target.csv"
# target_path = r"D:\Stock\target\target.csv"
position_path = r"D:\Stock\position\position.csv"
out_path = r"D:\Stock\out"
pool_path = r"D:\Stock\pool"
pool_cur_path = r"D:\Stock\pool\pool.csv"
analyze_date = "113/11/06" # None
# buy_date = "113/11/10" # None
# validate_date = "113/11/08"

## 回測

In [3]:
analyze_date = "113/09/01"
# validate_date = "113/09/02"
for i in range(40):
    analyze_date = add_date_to_string(analyze_date)
    # validate_date = add_date_to_string(validate_date)
    
    target_list = select_stock(twse_list_path, otc_list_path, analyze_date, db_path, pool_cur_path)
    df_target = tp_sl_calculate(target_list, target_path)
    df_buy = sim_buy(target_path)
    df_position = get_stock_position(df_buy, position_path, pool_cur_path)
    df_pool, df_out = settlement(df_position, db_path, analyze_date, pool_cur_path, pool_path, out_path)

### 勝率分析

In [4]:
out_path = r'D:\Stock\out'
out_list = os.listdir(out_path)
ror_sum = 0
total_num = 0
tp_num = 0
sl_num = 0
for data_out in out_list:
    df_out = pd.read_csv(os.path.join(out_path, data_out))  
    total_num = total_num + len(df_out)
    tp_num = tp_num + df_out[df_out['Status'] == 1].shape[0]
    sl_num = sl_num + df_out[df_out['Status'] == 2].shape[0]
    ror_sum = ror_sum + df_out["RoR"].sum()
    
ror_avg = ror_sum / total_num
ror_day_avg = ror_sum / len(out_list)

print("RoR avg: ", ror_avg)
print("RoR day avg: ", ror_day_avg)
print("RoR sum: ", ror_sum)
print("TP num: ", tp_num)
print("SL num: ", sl_num)

RoR avg:  2.5235333148290744
RoR day avg:  1.1986783245438102
RoR sum:  47.94713298175241
TP num:  13
SL num:  6

In [ ]:
#1.65
RoR avg:  2.5235333148290744
RoR day avg:  1.1986783245438102
RoR sum:  47.94713298175241
TP num:  13
SL num:  6

#1.55
RoR avg:  1.1626734541077748
RoR day avg:  0.8429382542281367
RoR sum:  33.71753016912547
TP num:  15
SL num:  14

#1.45
RoR avg:  0.5107093897764279
RoR day avg:  0.4596384507987851
RoR sum:  18.385538031951405
TP num:  16
SL num:  20

RoR avg:  -0.11616197501351073
RoR day avg:  -0.13358627126553735
RoR sum:  -5.343450850621494
TP num:  18
SL num:  28


RoR avg:  -0.3011291377930598
RoR day avg:  -0.4291090213551102
RoR sum:  -17.164360854204407
TP num:  21
SL num:  36

RoR avg:  -0.2182873267313336
RoR day avg:  -0.3547169059384171
RoR sum:  -14.188676237536685
TP num:  24
SL num:  41

## 測試

### Get Stock Info

### Select Stock

In [ ]:
# def select_stock(twse_list_path, otc_list_path, input_date, db_path, pool_cur_path):
#     target_list_twse = []
#     analyze_stock(isOtc = False, data_list_path = twse_list_path, target_list = target_list_twse, input_date = input_date, db_path = db_path, thread_total = 1, thread_idx = 0)
#     target_list_otc = []
#     analyze_stock(isOtc = True, data_list_path = otc_list_path, target_list = target_list_otc, input_date = input_date, db_path = db_path, thread_total = 1, thread_idx = 0)

#     target_list = target_list_twse + target_list_otc
#     df_select = pd.DataFrame(target_list, columns=['Date', 'Stock', 'Name', 'PE', 'Yield', 'PB', 'Price', 'Max Price', 'Min Price', 'Start Price', 'isOTC'])
    
#     if os.path.isfile(pool_cur_path): # already exist some stocks in pool
#         df_pool = pd.read_csv(pool_cur_path)
#         for index, row in df_pool.iterrows():
#             stock = str(row['Stock'])
#             if stock in df_select['Stock'].values:
#                 df_select = df_select.drop(df_select[df_select['Stock'] == stock].index)
#             # else:
#             #     print(stock)
#             #     # df_select.loc[len(df_select)] = row
#             #     df_select = df_select._append(row, ignore_index = True)
#         df_select = df_select.reset_index(drop=True)
#     return df_select

In [ ]:
df_select = select_stock(twse_list_path, otc_list_path, analyze_date, db_path, pool_cur_path)

### Take Profit & Stop Loss setting

In [ ]:
df_target = tp_sl_calculate(df_select, target_path)

### Order

#### 富邦下單

In [ ]:
#### Fubon

#### 模擬下單

In [ ]:
# def sim_buy(target_analyze_path):
#     df_position = pd.read_csv(target_analyze_path)
#     # print(df_target.head)
#     data_list = []
#     for index, row in df_position.iterrows():
#         stock = str(int(row['Stock']))
#         stock_date = row['Date']
#         buy_date = stock_date # TODO
#         tp = row['Take Profit']
#         sl = row['Stop Loss']
#         buy_up = row['Buy In Up']
#         buy_down = row['Buy In Down']
#         isOTC = row['isOTC']
#         buy_price = (buy_up + buy_down) / 2
#         buy_price = price_tick_refine(buy_price)
#         data_list.append([buy_date, stock, tp, sl, buy_price, isOTC])
#     df_buy = pd.DataFrame(data_list, columns=['Date', 'Stock', 'Take Profit', 'Stop Loss', 'Buy Price', 'isOTC'])
#     # df_position.to_csv(position_path, encoding='utf-8-sig')
#     return df_buy

# def get_stock_position(df_buy, position_path, pool_cur_path):
#     if os.path.isfile(pool_cur_path): # already exist some stocks in pool
#         df_pool = pd.read_csv(pool_cur_path)
#         df_position = pd.concat([df_buy, df_pool], axis=0)
#         df_position = df_position.reset_index(drop=True)
#         df_position.to_csv(position_path, encoding='utf-8-sig')
#         return df_position
#     else:
#         return df_buy

In [ ]:
df_buy = sim_buy(target_path)
df_position = get_stock_position(df_buy, position_path, pool_cur_path)

### 結算

In [ ]:
df_pool, df_out = settlement(position_path, db_path, validate_date, pool_cur_path, pool_path, out_path)

In [ ]:
df_pool

         Date Stock  Take Profit  Stop Loss  Buy Price  isOTC
0   113/11/05  1319       116.00     106.00     110.00      0
1   113/11/05  1464        17.05      15.60      16.10      0
2   113/10/30  1736       160.50     147.00     152.00      0
3   113/11/05  2049       257.00     235.00     243.00      0
4   113/11/05  2357       632.00     578.00     598.00      0
5   113/11/05  2382       337.00     308.50     319.00      0
6   113/11/05  2727       259.50     237.50     246.00      0
7   113/11/05  3665       512.00     468.50     484.00      0
8   113/11/05  3714        50.80      46.45      48.05      0
9   113/11/05  4536       239.00     218.50     226.00      0
10  113/11/05  6515      1405.00    1285.00    1330.00      0
11  113/11/05  6805       915.00     837.00     865.00      0
12  113/11/05  8021        42.10      38.50      39.80      0
13  113/11/05  3455       149.50     137.00     141.50      1
14  113/11/05  3529      3500.00    3200.00    3310.00      1
15  113/11/05  6727        92.00      84.20      87.00      1

In [ ]:
df_position

         Date Stock  Take Profit  Stop Loss  Buy Price  isOTC
0   113/11/05  1319       116.00     106.00     110.00      0
1   113/11/05  1464        17.05      15.60      16.10      0
2   113/10/30  1736       160.50     147.00     152.00      0
3   113/11/05  2049       257.00     235.00     243.00      0
4   113/11/05  2059      1365.00    1250.00    1290.00      0
5   113/11/05  2357       632.00     578.00     598.00      0
6   113/11/05  2382       337.00     308.50     319.00      0
7   113/11/05  2449       138.00     126.00     130.00      0
8   113/11/05  2727       259.50     237.50     246.00      0
9   113/11/05  3013       170.00     155.50     161.00      0
10  113/11/05  3062        37.65      34.45      35.60      0
11  113/11/05  3653      1575.00    1440.00    1490.00      0
12  113/11/05  3665       512.00     468.50     484.00      0
13  113/11/05  3714        50.80      46.45      48.05      0
14  113/11/05  4536       239.00     218.50     226.00      0
15  113/11/05  6515      1405.00    1285.00    1330.00      0
16  113/11/05  6706       183.00     167.50     173.00      0
17  113/11/05  6805       915.00     837.00     865.00      0
18  113/11/05  8021        42.10      38.50      39.80      0
19  113/11/05  9938        85.30      78.10      80.70      0
20  113/11/05  3455       149.50     137.00     141.50      1
21  113/11/05  3529      3500.00    3200.00    3310.00      1
22  113/11/05  3689        97.70      89.40      92.40      1
23  113/11/05  6220        29.35      26.85      27.80      1
24  113/11/05  6727        92.00      84.20      87.00      1

In [ ]:
df_select

,Date,Stock,Name,PE,Yield,PB,Price,Max Price,Min Price,Start Price,isOTC
0,113/11/05,1319,,,,,109.5,110.50,108.00,109.00,0
1,113/11/05,1464,,,,,16.1,16.40,16.10,16.20,0
2,113/10/30,1736,,,,,151.5,159.50,151.00,152.50,0
3,113/11/05,2049,,,,,242.5,243.00,232.00,232.50,0
4,113/11/05,2059,,,,,1290.0,1300.00,1260.00,1275.00,0
5,113/11/05,2357,,,,,596.0,600.00,592.00,595.00,0
6,113/11/05,2382,,,,,318.0,320.00,309.50,310.50,0
7,113/11/05,2449,,,,,130.0,132.00,126.50,126.50,0
8,113/11/05,2727,,,,,245.0,245.00,240.00,241.00,0
9,113/11/05,3013,,,,,160.5,166.00,156.00,160.50,0
10,113/11/05,3062,,,,,35.5,37.10,35.45,36.15,0
11,113/11/05,3653,,,,,1485.0,1485.00,1445.00,1450.00,0
12,113/11/05,3665,,,,,483.0,489.50,479.50,481.00,0
13,113/11/05,3714,,,,,47.9,49.30,47.20,47.40,0
14,113/11/05,4536,,,,,225.5,230.00,225.00,228.00,0
15,113/11/05,6515,,,,,1325.0,1350.00,1295.00,1295.00,0
16,113/11/05,6706,,,,,172.5,178.00,171.50,174.50,0
17,113/11/05,6805,,,,,863.0,866.00,847.00,857.00,0
18,113/11/05,8021,,,,,39.7,40.90,39.60,40.40,0
19,113/11/05,9938,,,,,80.5,81.60,79.60,79.90,0
20,113/11/05,3455,,,,,141.0,147.00,139.00,140.00,1
21,113/11/05,3529,,,,,3300.0,3300.00,3190.00,3205.00,1
22,113/11/05,3689,,,,,92.2,94.40,91.00,91.50,1
23,113/11/05,6220,,,,,27.7,27.75,27.30,27.30,1
24,113/11/05,6727,,,,,86.8,89.50,86.80,89.00,1